@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #312f2f;
  overflow-x: hidden;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  left: 0;
  /* background-color: aqua; */
}

.scene {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bike {
  /* transform: scale(0.1); */
  /* scale: 1; */
  display: flex;
  transform-origin: bottom center;
  position: absolute;
  bottom: 15px;
  /* background-color: black; */
  width: 150px;
  height: 150px;
  z-index: 1;
}

.text {
  font-size: 5em;
  line-height: 1em;
  letter-spacing: -0.05em;
  padding-bottom: 0.15em;
}

.text-wrap {
  position: fixed;
  text-wrap: wrap;
  padding-right: 20em;
  padding-bottom: 10em;
  width: 15%;
}

.text-wrap-2 {
  position: fixed;
  text-wrap: wrap;
  /* padding-right: 20em; */
  width: 15%;
}

.title-2 {
  font-size: 6em;
  font-weight: bolder;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
  letter-spacing: -0.05em;
  padding-bottom: 0.15em;
  z-index: 1;
}
